.modal-side {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 300px;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333; /* fallback neutro */
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 10000;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s;
}

#snackbar.show {
  visibility: visible;
  opacity: 1;
}

#snackbar.success {
  background-color: #28a745;
}

#snackbar.error {
  background-color: #eb5866de;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
