<app-search-bar
    [functionalityData] = "funcionalityData"></app-search-bar>

<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Data e Hora</th>
          <th>Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of pagedOrder">
          <td>{{ order.id }}</td>
          <td>
            <strong>{{ order.nome }}</strong>
          </td>
          <td>{{ order.date }}</td>
          <td>{{ order.client }}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-center">
            <div class="pagination-container">
              <button
                class="pagination-btn"
                (click)="changePage(1)"
                [disabled]="currentPage === 1"
              >
                «
              </button>
              <button
                class="pagination-btn"
                (click)="changePage(currentPage - 1)"
                [disabled]="currentPage === 1"
              >
                ‹
              </button>
  
              <ng-container
                *ngFor="let page of [].constructor(totalPages); let i = index"
              >
                <button
                  class="pagination-btn"
                  [class.active]="currentPage === i + 1"
                  (click)="changePage(i + 1)"
                >
                  {{ i + 1 }}
                </button>
              </ng-container>
  
              <button
                class="pagination-btn"
                (click)="changePage(currentPage + 1)"
                [disabled]="currentPage === totalPages"
              >
                ›
              </button>
              <button
                class="pagination-btn"
                (click)="changePage(totalPages)"
                [disabled]="currentPage === totalPages"
              >
                »
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>