<div class="container mt-4">
    <div
      class="search-container d-flex justify-content-between align-items-center"
    >
      <div class="title d-flex align-items-center">
        <i class="bi bi-grid-1x2-fill fs-2"></i>
        <h2 class="ms-2">Dashboard</h2>
      </div>
  
  
        <button class="btn btn-success ms-3">Gerar Relatório</button>
    </div>
</div>

<div class="content">
    <div class="top-row_I173-3685-107-5364">
      <div class="bar-chart-div"> <app-bar-chart></app-bar-chart> </div>
    </div>
    <div class="bottom-row_I173-3685-107-5368">
      <div class="bottom-chart-div"> <app-pie-chart></app-pie-chart></div>
      <div class="bottom-chart-div"></div>
    </div>
  </div>

  